nav {
	width: 100%;
	height: 40px;
	/* outline:1px solid white;*/
	padding-bottom: 120px;
	background-image: url('../img/paypal_image_navbar');
	background-size: auto;
	width: 100%;
}

nav.open1,
.open2 {
	background-image: none;
	background: -moz-linear-gradient(bottom, rgba(18, 45, 253, 1) 0%, rgba(18, 45, 250, 1) 22%, rgba(0, 58, 102, 1) 96%, rgba(0, 58, 102, 1) 100%);
}

nav #headerp i {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

nav.open1 #headerp i {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

nav #headerb i {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

nav.open2 #headerb i {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.navek {
	margin-bottom: -19px;
}

section {
	background-image: url('../img/paypal_image_section');
	background-size: auto;
	/* height:555px;*/
	/*height:90%;*/
	width: 100%;
	position: fixed;
}

#pp {
	width: 150px;
	left: 70px;
	position: relative;
}

.buttons {
	margin-right: 20px;
	top: 28px;
	left: 760px;
	border: 2px solid white;
	border-radius: 50px;
	padding: 10px 25px;
	font-weight: bold;
}

#login {
	background-color: transparent;
	color: white;
	position: absolute;
	top: 55px;
	left: 950px;
}

#signup {
	background-color: white;
	color: black;
	top: 55px;
	left: 1070px;
	position: absolute;
}

#longestbtn {
	position: relative;
	left: 440px;
	margin-bottom: 15px;
	margin-top: 15px;
	color: white;
	background-color: #1578F9;
	border-radius: 50px;
	border: none;
	padding: 15px 95px;
	font-weight: bold;
}

#longestbtn:hover {
	background-color: rgba(18, 45, 250, 1);
}

h5 {
	position: relative;
	left: 450px;
}

.thicker {
	font-size: 16px;
	list-style: none;
	display: none;
}

section h1 {
	color: white;
	text-align: center;
	margin-top: 50px;
	padding-top: 100px;
}

section {
	margin-top: 0px;
}

.titles {
	list-style: none;
}

nav li a href {
	color: white;
}

.titles li {
	display: inline;
	font-weight: bold;
	margin-right: 40px;
	position: relative;
	right: -350px;
	top: -80px;
}

.titles li a:hover {
	text-decoration: none;
	color: white;
}

section h5 {
	color: white;
	position: relative;
	top: -10px;
}

.bld {
	color: white;
	font-weight: bold;
}

.forpersonal,
.forbusinessal {
	list-style: none;
}

.forpersonal {
	line-height: 1.5;
}

.personals,
.businessals {
	background: -moz-linear-gradient(top, rgba(18, 45, 253, 1) 0%, rgba(18, 45, 250, 1) 2%, rgba(0, 58, 102, 1) 95%, rgba(0, 58, 102, 1) 100%);
	padding: 15px 10px;
	display: none;
	text-align: left;
}

div ul li a {
	text-decoration: none;
	color: white;
}

div ul li a:hover {
	color: white;
}

#headerpa:hover {
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
}

#headerpa:active {
	color: white;
}

.smalltext {
	font-size: 12px;
	color: white;
}

span.biggertext {
	color: white;
	font-size: 16px;
}

.forperson1,
.forperson2,
.forbusiness1,
.forbusiness2 {
	padding: 12px 10px;
}
